/client/.quasar
.DS_Store
.thumbs.db
/firebase-server/functions/node_modules
/client/node_modules
/client/dist
/client/src-cordova/node_modules
/client/src-cordova/platforms
/client/src-cordova/plugins
/client/src-cordova/www
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
